@import url(https://fonts.googleapis.com/css?family=Oswald:700);
    
    body     {
      background:#231F20;
      text-align:center;
    }
    
    h1         {
      color:#FFF;
      font-family:'Oswald';
      font-weight:700;
      position:relative;  
      margin:30px auto;
      text-transform:uppercase;
      width:550px;
    }
    
    h1::after,
    h1::before {
    
        background:#4A90E2;
        content: '';
        display: inline-block;
        height: 30px;
        width: 30px;
        position: absolute;
    }
    
    h1::before {  
        border-radius: 200px 0px 0px 200px;
        -moz-border-radius: 200px 0px 0px 200px;
        -webkit-border-radius: 200px 0px 0px 200px;
        border: 0px solid #000000;
        left: 0;
        top: 10px;
    }
    
    h1::after {  
        border-radius: 0px 200px 200px 0px;
        -moz-border-radius: 0px 200px 200px 0px;
        -webkit-border-radius: 0px 200px 200px 0px;
        border: 0px solid #000000;
        left: 520px;
        top: 10px;
    }

   