.link1:hover {
    font-weight: bold;
    color: lightblue;
}

.link2:active{
    color: red;
    font-style: italic;
}

.link3:visited {
    color: black;
    text-decoration: line-through;
}

input:focus {
    color: green;
    font-size: 20px;
}

main {
    max-width: 75%;
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;

}

ul li {
    margin-right: 4em;
}

nav {
    background-color: blue;
}

.current-page {
    background-color: pink;
}

li:hover {
    background-color: lightblue;
}

input:focus {
    border: 2px solid aquamarine;
}