.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
​
.profile .wrapper {
	background: #161b27;
	overflow: hidden;
	padding: 0px;
	display: inline-block;
}
.profile img {
	opacity: 1;
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.profile img:hover {
	opacity: 0;
}